body {
    
    padding: 10px;

    background-image: url("http://d1oi7t5trwfj5d.cloudfront.net/46/9e/3f6efdb84c3eb886f213ebfbd737/silicon-valley.jpg");
    background-attachment: fixed;
    background-position: initial;
    background-repeat: repeat;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    
}

h1{
    color: #000079;
    text-shadow: 2px 2px #000000;
    text-align: center;
    
}
